</div>

<div id="footer">
<a class="foot" href="/">Brad&nbsp;Cable</a>
&nbsp;&middot;&nbsp;
<a class="foot" href="analysis.html">Analysis</a>
&nbsp;&middot;&nbsp;
<a class="foot" href="techart.html">Tech&nbsp;Art</a>
&nbsp;&middot;&nbsp;
<a class="foot" href="repos.html">Repositories</a>
&nbsp;&middot;&nbsp;
<a class="foot" href="disclaimer.html">Legal&nbsp;Disclaimer</a>
</div>

</body>
</html>
