</head>

<body>

<div id="header">
<table cellpadding="0" cellspacing="0">
<tr>
<!--
<td id="ukr_ribbon">
	<a href="https://www.ukrfund.org/" class="em-ribbon" title="Stop War In Ukraine" target="_blank"><img src="images/stop-war-in-ukraine.png" /></a>
</td>
-->
<td class="spacer"></td>
<td class="ghsig">
	<table>
	<tr>
	<td id="gh">
	<a href="https://gitlab.com/BCable">
		<svg width="24" height="24" class="tanuki-logo" viewBox="0 0 36 36">
			<path class="tanuki-shape tanuki-left-ear" fill="#e24329" d="M2 14l9.38 9v-9l-4-12.28c-.205-.632-1.176-.632-1.38 0z"/>
			<path class="tanuki-shape tanuki-right-ear" fill="#e24329" d="M34 14l-9.38 9v-9l4-12.28c.205-.632 1.176-.632 1.38 0z"/>
			<path class="tanuki-shape tanuki-nose" fill="#e24329" d="M18,34.38 3,14 33,14 Z"/>
			<path class="tanuki-shape tanuki-left-eye" fill="#fc6d26" d="M18,34.38 11.38,14 2,14 6,25Z"/>
			<path class="tanuki-shape tanuki-right-eye" fill="#fc6d26" d="M18,34.38 24.62,14 34,14 30,25Z"/>
			<path class="tanuki-shape tanuki-left-cheek" fill="#fca326" d="M2 14L.1 20.16c-.18.565 0 1.2.5 1.56l17.42 12.66z"/>
			<path class="tanuki-shape tanuki-right-cheek" fill="#fca326" d="M34 14l1.9 6.16c.18.565 0 1.2-.5 1.56L18 34.38z"/>
		</svg>
	</a>
	</td>
	<td id="sig"><a href="/">
		Brad&nbsp;Cable
	</a></td>
	</tr>
	<tr>
	<td colspan="3" id="email">
		<a href="mailto:brad@bcable.net">brad@bcable.net</a>
	</td>
	</tr>
	</table>
</td>
<td id="golden-apple">
	<img src="images/golden-apple-uni-small.png" />
</td>
<td id="pages">
	<a href="analysis.html">Analysis</a>
	<a href="techart.html">Tech&nbsp;Art</a>
	<a href="repos.html">Repositories</a>
</td>
<td class="spacer"></td>
<!--
<td id="ukr_stjavelin">
	<a href="https://www.saintjavelin.com/" title="Stop War In Ukraine">
		<img src="images/stjavelin.png" />
	</a>
</td>
-->
</tr>
</table>
</div>

<div id="body">
