div.masps_title {
	font-size: 1.5em;
	font-weight: bold;
	padding: 0px;
	padding-bottom: 25px;
	text-align: center;
}

div.masps_header {
	font-size: 1.3em;
	font-weight: bold;
	padding: 25px 0px 15px 0px;
}

div.masps_header_2 {
	font-size: 1.2em;
	font-weight: bold;
	padding: 25px 0px 15px 0px;
}

div.masps_header_3 {
	font-size: 1.1em;
	font-weight: bold;
	padding: 25px 0px 15px 0px;
}

div.masps_section {
	font-size: 1.4em;
	font-weight: bold;
	padding: 25px 0px 15px 0px;
}

div.masps_toc_header {
	font-size: 1.3em; 
	font-weight: bold;
	padding: 25px 0px 0px 0px;
}

div.masps_toc {
	margin: 0px;
	padding: 10px;
	background-color: #202020;
	color: #FFFFFF;
	border: 1px solid #000000;
	font-size: 1.1em;
	float: left;
}

pre.masps_table {
	margin: 0px;
	background-color: #202020;
	color: #FFFFFF;
	border: 1px solid #000000;
	padding: 5px;
}

pre.masps_code {
	margin: 0px;
	background-color: #202020;
	color: #FFFFFF;
	border: 1px solid #000000;
	padding: 5px;
	overflow: auto;
}

div.masps_clrb {
	clear: both;
}

div.masps_toc a,
pre a {
	color: #FFFFFF;
	font-weight: bold;
}
