<div class="rss">
<a href="rss/all.xml">
<img src="images/rss.svg" />
</a>
</div>

<div class="h1" id="anal-2024">2024</div>
<div class="articles">
<a href="analysis-ukr-crew_003.html">Ukrainian Honeypot ::014:: Crew ::003:: pvp-rivals // NukeBotC2 // lkxstresser // LavaC2 // LUNA // Paradise</a>
<br />
<a href="analysis-syslog_iptables_world_go-2023.html">Traffic Journal ::012:: IPTables Analysis (2023 Full)</a>
<br />
<a href="analysis-ukr-graphs_go-2023.html">Ukrainian Honeypot ::013:: Honeypot Graphs (2023 Full)</a>
<br />
<a href="analysis-ukr-graphs_go-2022.html">Ukrainian Honeypot ::012:: Honeypot Graphs (2022 Full)</a>
<br />
<a href="analysis-httpd_world_go-2023.html">Traffic Journal ::011:: bcable.net HTTPD Logs (2023 Full)</a>
<br /><br />
</div>
<div class="modrepos">
<h2>Modified Repositories:</h2>
<a href="https://bcable.net/x/bcable.net">bcable.net</a>
<br />
<a href="https://bcable.net/x/Rproj">Rproj</a>
<br />
<a href="https://bcable.net/x/Rrdap">Rrdap</a>
<br />
<a href="https://bcable.net/x/rubiks">rubiks</a>
<br />
<a href="https://bcable.net/x/Rwhois">Rwhois</a>
</div>

<div class="h1" id="anal-2023">2023</div>
<div class="articles">
<a href="analysis-ukr-crew_002.html">Ukrainian Honeypot ::011:: Crew ::002:: real0days // no0days // busyboxx // Tsuki</a>
<br />
<a href="analysis-ukr-inventory_attack.html">Ukrainian Honeypot ::010:: Inventory System Attack // DDoS Backend</a>
<br />
<a href="analysis-ukr-crew_001.html">Ukrainian Honeypot ::009:: Crew ::001:: chakal1337 // “Skidson Mafia” // Hacking/Blackhat SEO Discord Servers</a>
<br />
<a href="analysis-ukr-indicators_2023.html">Ukrainian Honeypot ::008:: Threat Indicators // Beacon Servers (2023 Edition)</a>
<br /><br />
</div>
<div class="modrepos">
<h2>Modified Repositories:</h2>
<a href="https://bcable.net/x/bcable.net">bcable.net</a>
<br />
<a href="https://bcable.net/x/Rproj">Rproj</a>
<br />
<a href="https://bcable.net/x/Rwhois">Rwhois</a>
</div>

<div class="h1" id="anal-2022">2022</div>
<div class="articles">
<a href="analysis-ukr-ddos_gh0st.html">Ukrainian Honeypot ::007:: Raw Socket DDoS Botnets // gh0st</a>
<br />
<a href="analysis-ukr-botnet_perl.html">Ukrainian Honeypot ::006:: w0rmer/Cornel Perl DDoS Botnets</a>
<br />
<a href="analysis-ukr-miori_fail.html">Ukrainian Honeypot ::005:: miori // Saitama121 // TropicalV1 Network Analysis</a>
<br />
<a href="analysis-ukr-cn_map_sessions.html">Ukrainian Honeypot ::004:: Chinese Established Sessions Map</a>
<br />
<a href="analysis-ukr-ru_map_sessions.html">Ukrainian Honeypot ::003:: Russian Established Sessions Map</a>
<br />
<a href="analysis-ukr-indicators.html">Ukrainian Honeypot ::002:: Threat Indicators // Beacon Servers</a>
<br />
<a href="analysis-ukr-graphs.html">Ukrainian Honeypot ::001:: Initial Graphs</a>
<br />
<a href="analysis-ukr-prelim.html">Ukrainian Honeypot ::000:: Preliminary</a>
<br />
<a href="analysis-httpd-log4j_ircc2c.html">Traffic Journal ::010:: Log4j IRC Monero C2C Botnet Squatting and Popping</a>
<br />
<a href="analysis-httpd-log4j_rawlogs.html">Traffic Journal ::009:: Log4j Attack Mapping and Raw Logs</a>
<br /><br />
</div>
<div class="modrepos">
<h2>Modified Repositories:</h2>
<a href="https://bcable.net/x/bcable.net">bcable.net</a>
<br />
<a href="https://bcable.net/x/Rproj">Rproj</a>
<br />
<a href="https://bcable.net/x/Rrdap">Rrdap</a>
<br />
<a href="https://bcable.net/x/Rwhois">Rwhois</a>
</div>

<div class="h1" id="anal-2021">2021</div>
<div class="articles">
<a href="analysis-httpd-log4j_obfuscate.html">Traffic Journal ::008:: Log4j Vulnerability String Bypass Obfuscation</a>
<br />
<a href="analysis-epikfail-contacts_map.html">EpikFail Leaked Anonymize.com 'contacts' SQL Table Maps</a>
<br />
<a href="analysis-ok_email-state_map.html">Oath Keepers Leaked Incoming Emails State Frequency Map</a>
<br />
<a href="analysis-Rsgf_moves_anim.html">Rsgf: Example Heatmap and plot3D Animations for Edo Period Data</a>
<br />
<a href="analysis-Rsgf_period_cards.html">Rsgf: Example Go Period Reports for playerCard() Function</a>
<br />
<a href="analysis-gimppy_simple_objects_grow.html">GIMP-Python Simple Objects "Grow" Command Fun</a>
<br />
<a href="analysis-syslog_iptables_world_go-2020.html">Traffic Journal ::007:: IPTables Analysis (Graphs Only) (2020 Full)</a>
<br />
<a href="analysis-httpd_world_go-2020.html">Traffic Journal ::006:: bcable.net HTTPD Logs (Graphs Only) (2020 Full)</a>
<br /><br />
</div>
<div class="modrepos">
<h2>Modified Repositories:</h2>
<a href="https://bcable.net/x/bcable.net">bcable.net</a>
<br />
<a href="https://bcable.net/x/gimp">gimp</a>
<br />
<a href="https://bcable.net/x/Rproj">Rproj</a>
<br />
<a href="https://bcable.net/x/Rsgf">Rsgf</a>
<br />
<a href="https://bcable.net/x/Rwhois">Rwhois</a>
</div>

<div class="h1" id="anal-2020">2020</div>
<div class="articles">
<!--
<a href="analysis-npd_dailylog.html">Normal Police Department (IL) Crime Statistics</a>
<br />
-->
<a href="analysis-syslog_iran_2020.html">Searching Iranian IP Addresses Released By FBI Alert (AA20-304A)</a>
<br />
<a href="analysis-syslog_iptables_world_go-2019.html">Traffic Journal ::005:: IPTables Analysis (Graphs Only) (2019 Full)</a>
<br />
<a href="analysis-syslog_iptables_world-2019.html">Traffic Journal ::004:: IPTables Analysis (Updated) (2019 Full)</a>
<br />
<a href="analysis-httpd_world_go-2019.html">Traffic Journal ::003:: bcable.net HTTPD Logs (Graphs Only) (2019 Full)</a>
</div>
<div class="modrepos">
<h2>Modified Repositories:</h2>
<a href="https://bcable.net/x/bcable.net">bcable.net</a>
<br />
<a href="https://bcable.net/x/Rproj">Rproj</a>
<br />
<a href="https://bcable.net/x/Rsgf">Rsgf</a>
<br />
<a href="https://bcable.net/x/Rwhois">Rwhois</a>
<br />
<a href="https://bcable.net/x/simple_comics">simple_comics</a>
</div>

<div class="h1" id="anal-2019">2019</div>
<div class="articles">
<a href="analysis-Rsgf_player_card.html">Rsgf: Example Reports for playerCard() Function</a>
<br />
<a href="analysis-syslog_iptables_world.html">Traffic Journal ::002:: IPTables Analysis</a>
</div>
<div class="modrepos">
<h2>Modified Repositories:</h2>
<a href="https://bcable.net/x/bcable.net">bcable.net</a>
<br />
<a href="https://bcable.net/x/Rproj">Rproj</a>
<br />
<a href="https://bcable.net/x/Rsgf">Rsgf</a>
<br />
<a href="https://bcable.net/x/rubiks">rubiks</a>
<br />
<a href="https://bcable.net/x/simple_comics">simple_comics</a>
</div>

<div class="h1" id="anal-2018">2018</div>
<div class="articles">
<a href="analysis-httpd_world.html">Traffic Journal ::001:: bcable.net HTTPD Logs</a>
<br />
<a href="analysis-qi_scores.html">Quite Interesting (QI) Score Analysis</a>
<br />
<a href="analysis-booktree.html">Book Tree: Laser Cut Word Clouds in Three Dimensions</a>
<br />
<a href="analysis-mandelbrot.html">Laser Cut Mandelbrot Tray</a>
</div>
<div class="modrepos">
<h2>Modified Repositories:</h2>
<a href="https://bcable.net/x/awdp">awdp</a>
<br />
<a href="https://bcable.net/x/bcable.net">bcable.net</a>
<br />
<a href="https://bcable.net/x/cryptopower">cryptopower</a>
<br />
<a href="https://bcable.net/x/hashdiff">hashdiff</a>
<br />
<a href="https://bcable.net/x/power_heart">power_heart</a>
<br />
<a href="https://bcable.net/x/Rproj">Rproj</a>
<br />
<a href="https://bcable.net/x/simple_comics">simple_comics</a>
<br />
<a href="https://bcable.net/x/sopeq">sopeq</a>
<br />
<a href="https://bcable.net/x/tk_window">tk_window</a>
</div>

<div class="h1" id="anal-2017">2017</div>
<div class="articles">
<a href="analysis-pygar_form.html">pygaR: Example for pygar_form() Function</a>
<br />
<a href="analysis-pygar_master.html">pygaR: Example for pygar_master() Function</a>
<br />
<a href="analysis-pygar_search.html">pygaR: Example for pygar_search() Function</a>
</div>
<div class="modrepos">
<h2>Modified Repositories:</h2>
<a href="https://bcable.net/x/cryptopower">cryptopower</a>
<br />
<a href="https://bcable.net/x/hashdiff">hashdiff</a>
<br />
<a href="https://bcable.net/x/livegamestats">livegamestats</a>
<br />
<a href="https://bcable.net/x/opensearchgen">opensearchgen</a>
<br />
<a href="https://bcable.net/x/pygaR">pygaR</a>
<br />
<a href="https://bcable.net/x/selinux">selinux</a>
<br />
<a href="https://bcable.net/x/simple_comics">simple_comics</a>
</div>

<div class="h1" id="anal-2016">2016</div>
<div class="articles">
<a href="analysis-devops.html">DevOps IPTables Logs</a>
<br />
<a href="analysis-dicejobs.html">Rdicejobs Mapping Example</a>
<br />
<a href="analysis-historical_reps.html">General US Historical Representative Data</a>
<br />
<a href="analysis-delegates.html">Presidential Candidate Delegate Count</a>
<br />
<a href="analysis-github_R.html">GitHub R Repository Counts by Month</a>
<br />
<a href="analysis-ozone.html">Ozone Data for Illinois by County (2014)</a>
</div>
<div class="modrepos">
<h2>Modified Repositories:</h2>
<a href="https://bcable.net/x/dashing">dashing</a>
<br />
<a href="https://bcable.net/x/ngram">ngram</a>
<br />
<a href="https://bcable.net/x/Rdicejobs">Rdicejobs</a>
<br />
<a href="https://bcable.net/x/Rproj">Rproj</a>
<br />
<a href="https://bcable.net/x/selinux">selinux</a>
<br />
<a href="https://bcable.net/x/sopeq">sopeq</a>
</div>

<div class="h1" id="anal-2015">2015</div>
<div class="articles">
<a href="analysis-humanact_ml.html">Human Activity Recognition Machine Learning</a>
<br />
<a href="analysis-central_limit.html">Central Limit Theorem on the Exponential Distribution</a>
<br />
<a href="analysis-storm_data.html">Analyzing Storm Data for Damages</a>
</div>
<div class="modrepos">
<h2>Modified Repositories:</h2>
<a href="https://bcable.net/x/davix-isobuild">davix-isobuild</a>
<br />
<a href="https://bcable.net/x/ngram">ngram</a>
<br />
<a href="https://bcable.net/x/sacgtx">sacgtx</a>
<br />
<a href="https://bcable.net/x/sopeq">sopeq</a>
<br />
<a href="https://bcable.net/x/threaded_crack">threaded_crack</a>
<br />
<a href="https://bcable.net/x/usbtokenlockd">usbtokenlockd</a>
</div>

<!-- 89014105babda8630514910304e250f5bb3580e60d484cef4e536029 -->

<div class="h1" id="anal-2014">2014</div>
<div class="modrepos">
<h2>Modified Repositories:</h2>
<a href="https://bcable.net/x/usbtokenlockd">usbtokenlockd</a>
</div>

<!-- f52173358b8c85513525a53924843199d75af7c54b0e0aa97e634055 -->

<div class="h1" id="anal-2011">2011</div>
<div class="modrepos">
<h2>Modified Repositories:</h2>
<a href="https://bcable.net/x/panenthe">panenthe</a>
<br />
<a href="https://bcable.net/x/pd_messaging">pd_messaging</a>
<br />
<a href="https://bcable.net/x/pd_sms">pd_sms</a>
</div>

<div class="h1" id="anal-2010">2010</div>
Go Learning (<a href="go_learning/go_learning.pdf">PDF</a>)
<div class="modrepos">
<h2>Modified Repositories:</h2>
<a href="https://bcable.net/x/go_learning">go_learning</a>
<br />
<a href="https://bcable.net/x/pd_infocenter">pd_infocenter</a>
<br />
<a href="https://bcable.net/x/pd_messaging">pd_messaging</a>
<br />
<a href="https://bcable.net/x/surrogafier">surrogafier</a>
</div>

<div class="h1" id="anal-2009">2009</div>
<div class="articles">
<a href="system.html">My Awesome Secure and Portable System</a>
</div>
<div class="modrepos">
<h2>Modified Repositories:</h2>
<a href="https://bcable.net/x/auv">auv</a>
<br />
<a href="https://bcable.net/x/mysql_erd">mysql_erd</a>
<br />
<a href="https://bcable.net/x/surrogafier">surrogafier</a>
</div>

<div class="h1" id="anal-2008">2008</div>
<div class="modrepos">
<h2>Modified Repositories:</h2>
<a href="https://bcable.net/x/auv">auv</a>
<br />
<a href="https://bcable.net/x/lfwrap">lfwrap</a>
<br />
<a href="https://bcable.net/x/psycho">psycho</a>
<br />
<a href="https://bcable.net/x/secdb">secdb</a>
<br />
<a href="https://bcable.net/x/surrogafier">surrogafier</a>
</div>

<div class="h1" id="anal-2007">2007</div>
<div class="modrepos">
<h2>Modified Repositories:</h2>
<a href="https://bcable.net/x/conqsh">conqsh</a>
<br />
<a href="https://bcable.net/x/secdb">secdb</a>
<br />
<a href="https://bcable.net/x/sqlier">sqlier</a>
<br />
<a href="https://bcable.net/x/surrogafier">surrogafier</a>
</div>

<div class="h1" id="anal-2006">2006</div>
<div class="articles">
Blue Fluid World (<a href="bluefluid/bluefluid.pdf">PDF</a>, <a href="bluefluid/bluefluid.epub">EPUB</a>)
</div>
<div class="modrepos">
<h2>Modified Repositories:</h2>
<a href="https://bcable.net/x/sopeq">sopeq</a>
<br />
<a href="https://bcable.net/x/sqlier">sqlier</a>
<br />
<a href="https://bcable.net/x/surrogafier">surrogafier</a>
<br />
<a href="https://bcable.net/x/vulndetector">vulndetector</a>
<br />
<a href="https://bcable.net/x/websh">websh</a>
</div>

<div class="h1" id="anal-2005">2005</div>
<div class="modrepos">
<h2>Modified Repositories:</h2>
<a href="https://bcable.net/x/sopeq">sopeq</a>
<br />
<a href="https://bcable.net/x/surrogafier">surrogafier</a>
</div>
