<h1>Legal Disclaimer</h1>
All research, code, art, activities, and opinions displayed on this website represent solely the octivities of Brad Cable, and not the past, present, or future employers or associations of Brad Cable.  This includes but is not limited to: any and all local, municipal, county, state, or federal governments, including but not limited to: the United States of America, Canada, Mexico, Zimbabwe, India, The United Kingdom, Germany, France, Ukraine, Russia, Iran, China, Japan, Indonesia, The People's Republic of the Mooninites, The Federation of Mars, or Babylon Station.
<br /><br />
Any and all research activities are performed solely on Brad Cable's private equipment or equipment privately rented and operated by him, and all legal liability resides on him.
<br /><br /><br />

<h1>Copyright Statement</h1>
Any and all copyright that is displayed is copyright Brad Cable unless otherwise specified or otherwise obvious.  For instance, but not limited to, when Elmer Fudd or Danganronpa is displayed in a joking manner, it is used in artistic expression of comedy mashup as fair use, and are copyright their respective owners.  Any screenshots that contain logos, such as Kali Linux, Firefox, or any other software logos are copyright their respective owners as well.
<br /><br />
For fan art, the produced fan art is copyright Brad Cable.  The original art is copyright their respective designers.  If there is any ambiguity, you can contact Brad Cable at any time.  If you really care that much about it, please get a life.  While you are at it, please find Brad one, too.
<br /><br /><br />

<h1>Privacy Policy</h1>
There is no user login process, so there is not any user information to collection in the traditional sense.  Standard server logging occurs, and this information is used to analyze threats and do security research which is largely published as can be seen.  User privacy is respected up until you decide to attack servers operated, at which point the decision may be made to expose your attacks and analyze the details of how it works, how, or other further measures of what you are up to as an adversary to the people of the human race.
<br /><br />
For general traffic data, aggregate data is anonymized to show in general how much information can be obtained about traffic about users and how much information is willingly given to servers by users' browsers.  This is done for threat analysis and also to help users understand the level of detail that they expose to the internet to help them understand and analyze their own privacy risks when surfing the web.
