<center>

<div>
	<b>&ldquo;</b>
	Everything developed during the last two centuries has come from a composite lab, where hundreds, even thousands of research workers work.  There is no such thing as an inventor in this century.  Maybe I just like to play private games with electronic components.  Anyhow, I enjoy it.  I get most if not all of my pleasure in this world from creating circuits that ultimately do nothing.
	<b>&rdquo;</b>
	<br />
	&mdash;&nbsp;Philip K. Dick (A Maze of Death)
	<br /><br />
</div>

<div>
	<a href="http://www.qwantz.com/index.php?comic=3217">
		<img class="comic" src="images/comic2-3222.png" style="height: 400px" />
	</a>
</div>

<div>
	<table class="quote">
	<tr>
	<th class="left">&ldquo;</th>
	<td>
	'If I wanted to shake this tree here with my hands, I should not be able to.
	<br />
	'But the wind, which we do not see, tortures and bends it wherever it will. It is by invisible hands that we are bent and tortured the worst.'
	<br />
	Then the young man got up in confusion and said: 'I hear Zarathustra and I was just now thinking of him.' Zarathustra replied:
	<br />
	'Why does that frighten you?&ndash;But it is the same with the human as with the tree.
	<br />
	'The more it aspires to the height and light, the more strongly its roots strive earthward, downward, into the dark, the depths&ndash;into evil.'
	</td>
	<th class="right">&rdquo;</th>
	</tr>
	<tr><td colspan="3" class="author">&mdash;&nbsp;Friedrich Nietzsche (Thus Spoke Zarathustra)</td></tr>
	</table>
</div>

<a href="https://www.smbc-comics.com/comic/investment-2">
	<img src="images/smbc_20240722.png" id="smbc" />
</a>

</center>
</div>

<div id="dropout">

<table cellpadding="0" cellspacing="0" id="dropout">

<tr>
	<th id="step1">Step&nbsp;1:&nbsp;Boot&nbsp;Up</th>
	<th id="step2">Step&nbsp;2:&nbsp;Jack&nbsp;On</th>
	<th id="step3">Step&nbsp;3:&nbsp;Drop&nbsp;Out</th>
</tr>

<tr>
<td colspan="3">
<center>
	<a href="https://www.facebook.com/help/224562897555674/">
	<img src="images/128x128.fb.png" />
	</a>

	<a href="https://help.instagram.com/448136995230186/">
	<img src="images/128x128.ig.png" />
	</a>

	<a href="https://help.twitter.com/en/managing-your-account/how-to-deactivate-twitter-account">
	<img src="images/128x128.tw.png" />
	</a>

	<a href="https://accounts.snapchat.com/accounts/delete_account">
	<img src="images/128x128.sc.png" />
	</a>

	<a href="https://www.linkedin.com/help/linkedin/answer/63/closing-your-linkedin-account?lang=en">
	<img src="images/128x128.in.png" />
	</a>

	<a href="https://support.google.com/accounts/answer/32046?hl=en">
	<img src="images/128x128.gl.png" />
	</a>

	<a href="https://duckduckgo.com/html/?q=delete+apple+id">
	<img src="images/128x128.ap.png" />
	</a>

	<a href="https://support.microsoft.com/en-us/help/12412/microsoft-account-how-to-close-account">
	<img src="images/128x128.ms.png" />
	</a>

	<a href="https://help.pinterest.com/en/article/deactivate-or-close-your-account">
	<img src="images/128x128.pn.png" />
	</a>

	<a href="https://help.github.com/en/articles/deleting-your-user-account">
	<img src="images/128x128.gh.png" />
	</a>

	<a href="https://duckduckgo.com/html/?q=delete+reddit+account">
	<img src="images/128x128.rd.png" />
	</a>

	<a href="https://support.tiktok.com/en/my-account-settings/delete-account-default">
	<img src="images/128x128.tt.png" />
	</a>
</center>
</td>
</tr>

</table>

</div>

</center>
